---
const images = [
  "/imgs/o-1.jpg",
  "/imgs/o-2.jpg",
  "/imgs/o-3.jpg",
  "/imgs/o-4.jpeg",
  "/imgs/o-5.jpg",
  "/imgs/o-6.jpg",
];

import "../styles/carrusel.css";
---

<section class="carrusel">
  <button class="carrusel__next carrusel__button"> &#10094 </button>
  <div class="slides">
    {
      images.map((image, index) => (
        <div class="slide">
          <img src={image} alt={`Slide ${index + 1}`} class="slide__image" />
        </div>
      ))
    }
    {
      images.map((image, index) => (
        <div class="slide">
          <img src={image} alt={`Slide ${index + 1}`} class="slide__image" />
        </div>
      ))
    }
  </div>
  <button class="carrusel__prev carrusel__button"> &#10095 </button>
</section>

<script>
   const slides = document.querySelector('.slides') as HTMLElement;
      const totalSlides = document.querySelectorAll('.slide').length;
      let currentIndex = 0;

      // Mover a la imagen anterior
      function prevSlide() {
        currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
        updateSlidePosition();
      }

      // Mover a la imagen siguiente
      function nextSlide() {
        currentIndex = (currentIndex + 1) % totalSlides;
        updateSlidePosition();
      }

      // Actualizar la posición del carrusel
      function updateSlidePosition() {
        const translateValue = -(currentIndex * 100);
        slides.style.transform = `translateX(${translateValue}%)`;
      }

      // Eventos para los botones
      document.querySelector('.carrusel__prev').addEventListener('click', nextSlide);
      document.querySelector('.carrusel__next').addEventListener('click', prevSlide);
</script>
