---
import "../styles/header.css";
---

<header>
  <nav class="desktop flex--row--nowrap">
    <a href="/">
      <picture>
        <img class="desktop__image" src="/imgs/logo.png" alt="" />
      </picture>
    </a>
    <ul class="desktop__ul flex--row--nowrap">
      <li><a class="nav__a" href="">Habitaciones</a></li>
      <li><a class="nav__a" href="">Servicios</a></li>
      <li><a class="nav__a" href="">Reseñas</a></li>
      <li><a class="nav__a" href="">Contacto</a></li>
    </ul>
  </nav>
  <nav class="mobile" >
    <picture class="menu" id="menu">
        <img class="menu__image" src="/imgs/menu-1.png" alt="">
    </picture>
    <picture class="logo">
        <img class="desktop__image" src="/imgs/logo.png" alt="" />
    </picture>
    <ul class="mobile__ul hidden">
        <li><a class="nav__a" href="">Habitaciones</a></li>
        <li><a class="nav__a" href="">Servicios</a></li>
        <li><a class="nav__a" href="">Reseñas</a></li>
        <li><a class="nav__a" href="">Contacto</a></li>
    </ul>
  </nav>
</header>

<script>
    let button = document.getElementById('menu');
    button.onclick = function() {
        let ul = document.querySelector('.mobile__ul');
        ul.classList.toggle('hidden');
    }
</script>